body {
    font-family: 'Poppins', sans-serif;
    color: #782323;
}  

.resultBox {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px black solid;
    height: 75px;
    width: 313px;
    padding-left: 10px;
}  

.calBody{
    margin-top: 12%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.buttonContainer {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
button {
    width: 75px;
    height: 75px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px black solid;
    margin: 1px;
}

.buttonContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    justify-items: center;
}

.clear, .equal{ 
    background-color: tomato;
}

.add, .subtract, .multi, .divide{
    background-color: rgba(255, 148, 71, 0.733);
}

.styled-link {
    text-decoration: none;
    color: black;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}